<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>Stock Items Table</title>
    <style>
        table {
            border-collapse: collapse;
            width: 80%;
            margin: 20px auto;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>


<body>
    <h1 style="text-align: center;">Stock Items</h1>
    <table>
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Ticker</th>

            </tr>
        </thead>
        <tbody>
            {% for row in data %} 
            <tr>
                <td>
                    <a href="/transactions/{{ row.transaction_id }}">{{ row.transaction_id }}</a>
                </td>
                <td>
                    {{row.ticker}}
                </td>
            </tr>
                {% endfor %}

        </tbody>
    </table>

    <h2>Add Stock: Coming soon</h2>
    <form action="/transactions" method="POST">
        <label for="ticker">Ticker:</label>
        <input type="text" id="ticker" name="ticker" required><br>

        <label for="price">Price:</label>
        <input type="number" step=".01" id="price" name="price" required><br>

        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" required><br>

        <input type="submit" value="Add Item">
    </form>


</body>

</html>