<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>Transactions{{transaction_id}}</title>
    <style>
        table {
            border-collapse: collapse;
            width: 80%;
            margin: 20px auto;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>

</head>


<body>



    <h1 style="text-align: center;">Transaction #{{transaction_id}} Info</h1>
    <table>
            <tr>
                <th>Date</th>
                <td>{{transaction.date.strftime('%y-%m-%d')}}</td>
            </tr>
    
            <tr>
                <th>Ticker</th>
                <td>{{transaction.ticker}}</td>
            </tr>
            <tr>
                <th>Price ($)</th>
                <td>{{"%.2f"|format(transaction.price) }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{transaction.quantity}}</td>
            </tr>
            <tr>
                <th></th>
                <td>
                  <form action="/" method="post" style="display:inline">
                    <input type="hidden" name="del_item" value="{{ transaction.transaction_id }}">
                    <input type="submit" value="Delete">
                  </form>
                </td>
            </tr>


    </table>

    <br> <a href="http://127.0.0.1:5000/"> Return Home </a>
</body>

</html>
