<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>Stock Items Table</title>
    <style>
        table {
            border-collapse: collapse;
            width: 80%;
            margin: 20px auto;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>


<body>
    <h1 style="text-align: center;">Stock Items</h1>
    <table>
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Ticker</th>

            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>
                    <a href="/transactions/{{ row.transaction_id }}">{{ row.transaction_id }}</a>
                </td>
                <td>{{row.ticker}}</td>

                {% endfor %}

        </tbody>
    </table>
</body>

</html>
